.artist-show-component {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  height: -webkit-fill-available;
}

.artist-show-container {
  width: 300px;
  height: 404px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  text-align: initial;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.artist-events-list li {
  display: flex;
  background-color: white;
  width: 601px;
  height: 75px;
  margin-top: 2px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  align-items: center;
  justify-content: space-between;
  color: black;
}

.event-index-text {
  box-sizing: border-box;
  padding-left: 50px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.artist-events-list li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.artist-events-list {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #259998;
  font-size: 13px;
  font-weight: bold;
}

.event-date-icon {
  padding-left: 15px;
  color: #259998;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}
.month {
  font-size: 11px;
}

.artist-rsvp-button {
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #00b4b3;
  color: #00b4b3;
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
}

.artist-rsvp-button:hover {
  background-color: #00b4b3;
  color: white;
}

.artist-rsvp-button-going {
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #00b4b3;
  background-color: white;
  color: #00b4b3;
  margin-right: 10px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;

}

.artist-show-image {
  height: 270px;
  width: 270px;
  display: block;
  margin: auto;
  padding-top: 15px;
}

.artist-show-info ul{
  height: 50px;
  width: 270px;
  margin: auto;
  margin-top: 5px;
}

.artist-show-info ul li{
  padding-top: 5px;
}

.artist-show-info li h2 {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.artist-show-info li {
  padding: 1px;
}

.artist-track-button {
  height: 34px;
  width: 270px;
  background: #00b4b3;
  border: 1px solid #00b4b3;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 10px 0;
  margin: auto;
  cursor: pointer;
}

.artist-track-button-going {
  height: 34px;
  width: 270px;
  border: 1px solid #00b4b3;
  color: #00b4b3;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 10px 0;
  margin: auto;
  cursor: pointer;
  background-color: white;
}

.tour-info {
  font-size: 16px;
  color: #66a71f;
  margin-bottom: 10px;
}

.trackers-info {
  font-size: 16px;
  color: #8f8f8f;
  margin-bottom: 10px;
}

.comments {
  font-family: helvetica;
}

.comments-index li {
  background-color: white;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  color: black;
  padding: 20px 20px;
  box-sizing: border-box;
  width: 601px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 20px 0;
  padding-bottom: 30px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.09);
}

.comment-form-title {
  background: #ededed;
  padding-bottom: 8px;
  font-size: 20px;
  font-family: helvetica;
  color: #00b4b3;
}
.comment-box {
  background: #f3f3f3;
  width: 95%;
  margin: 15px auto;
  height: 100px;
  border: 1px solid #f3f3f3;
  font-size: 18px;
  resize: none;
}

.comment-form-buttons {
  margin: 0 auto;
}

.comment-form-buttons button {
  border-radius: 2px;
  color: white;
  font-family: helvetica;
  background-color: #00b4b3;
  border: 1px solid #00b4b3;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.8px;
  width: 269px;
  height: 34px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}

.artist-show-headers {
  color: #8f8f8f;
  font-size: 14px;
  margin-top: 75px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}

.comment-created-at {
  color: #bdbaba;
  font-size: 12px;
  margin-bottom: 10px;
}

.comment-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

.comment-body span {
  font-family: helvetica;
  font-size: 18px;
  letter-spacing: .6px;
  word-wrap: normal;
}

.comment-author {
  font-weight: bold;
}

.comment-delete {
  height: 34px;
  width: 70px;
  background: #00b4b3;
  border: 1px solid #00b4b3;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.artist-bio {
  background: white;
  color: black;
  font-family: helvetica;
  width: 100%;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  box-sizing: border-box;
  padding: 20px;
}

.artist-bio-paragraph {
  margin-top: 20px;
  line-height: 26px;
  border-top: 1px solid #cdcdcd;
  padding-top: 15px;
}

.genre {
  display: flex;
  flex-direction: row;
}

.genre h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
