.artist-show-component {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  height: 900px;
}

.artist-show-container {
  width: 300px;
  height: 404px;
  border: 1px solid #cdcdcd;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  text-align: initial;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px 0;
}

.artist-events-list li {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 601px;
  height: 63px;
  margin-top: 2px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  align-items: flex-end;
  justify-content: center;
}

.artist-events-list li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.artist-events-list {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #259998;
  font-size: 13px;
  font-weight: bold;
}

.artist-rsvp-button {
  width: 145px;
  height: 34px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #00b4b3;
  color: #00b4b3;
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
}

.artist-show-image {
  height: 270px;
  width: 270px;
  display: block;
  margin: auto;
  padding-top: 15px;
}

.artist-show-info {
  height: 50px;
  width: 270px;
  border: 1px solid #f3f3f3;
  margin: auto;
}

.artist-track-button {
  height: 34px;
  width: 270px;
  background: #00b4b3;
  border: 1px solid #00b4b3;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 10px 0;
  margin: auto;
}
