
.event-index-container {
  font-family: helvetica;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-top: 20px;
  height: 900px;
  max-width: 60vw;
  margin: auto;
  align-items: baseline;
}


.events-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

.events-list, .recent-news-list, .genre-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-bottom: 10px;
  overflow: scroll;
  max-width: 1026px;
}

.location-selector {
  color: #259998;
  cursor: pointer;
}

.teal-x {
  width: 18px;
  height: 18px;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

.events-list li {
  width: 151px;
  height: 252px;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  cursor: pointer;
  text-align: left;
  padding: 0 15px;
  box-sizing: border-box;
  padding-top: 110px;
  font-size: 16px;
  position: relative;
}


.recent-news-list {
  display: -webkit-box;
  overflow: scroll;
}

.recent-news-list li {
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  font-size: 16px;
  width: 252px;
  height: 270px;
  margin-right: 12px;
}

.recent-news-list img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.recent-news-list a {
  text-decoration: none;
  color: black;
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  font-family: sans-serif;
  letter-spacing: .2px;
}


.genre-list li {
  width: 151px;
  height: 151px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  background-color: white;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  padding-top: 125px;
  font-size: 14px;
  color: white;
}


li.rock {
  background-image: url('rock2.svg');
  background-size: contain;
  background-color: rgba(205,99,73,.83);
}

li.electronic {
  background-image: url('electronic.svg');
  background-size: contain;
  background-color: rgba(245,153,35,.83);
}

li.pop {
  background-image: url('pop.svg');
  background-size: contain;
  background-color: rgba(116,85,157,.83);
}

li.alternative {
  background-image: url('alternative.svg');
  background-size: contain;
  background-color: rgba(73,184,232,.71);
}

li.folk {
  background-image: url('folk.svg');
  background-size: contain;
  background-color: rgba(191,136,61,.83);
}

li.r-b {
  background-image: url('hipHop.svg');
  background-size: contain;
  background-color: rgba(92,141,146,.83);
}

.popular-event-index-item a {
  font-family: helvetica;
  text-decoration: none;
  color: #259998;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.event-link {
  margin-top: 50px;
}

.imager {
  width: 149.011px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.event-index-venue-name {
  color: black;
  font-size: 14px;
  font-weight: normal;
  font-family: helvetica;
}

.date-box {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.31);
  top: 94px;
  right: 10px;
  position: absolute;
  padding: 5px 8px;
  text-align: center;
  align-items: center;
  color: #259998;
  font-size: 8px;
}

.large-date {
  font-size: 20px;
}

.grey-date {
  color: #8f8f8f;
  font-size: 7px;
  padding-bottom: 1px;
  font-family: helvetica;
}

.link {
  font-family: helvetica;
  text-decoration: none;
  color: #259998;
  font-size: 18px;
  font-weight: 500;
}
