.login-signup {
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  height: 75px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
}

.nav-button {
  border-radius: 5px;
  border: 1px solid white;
  background-color: #16b4b3;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;

}

.nav-button:hover {
  background-color: #109291;
  transition: background-color .3s,color .3s;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.app-title {
  font-family: helvetica;
  font-size: 26px;
  align-items: center;
  margin-left: 10px;
  margin-right: 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  letter-spacing: .3px;
}

.nav-logo img{
  width: 30px;
  height: 30px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.search-bar {
  position: relative;
  width: 700px;
  height: 47px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  font-size: 16px;
  margin-left: 300px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
