.login-signup {
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  height: 75px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
}

.nav-button {
  border-radius: 5px;
  border: 1px solid white;
  background-color: #16b4b3;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 10px 10px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #109291;
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.app-title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 26px;
  align-items: center;
  margin-left: 10px;
  margin-right: 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.nav-logo img {
  width: 30px;
  height: 30px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.search-results-container {
}

.search-bar {
  height: 47px;
  font-size: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.search-results {
  z-index: 20;
  position: absolute;
  top: 50px;
  width: 702.5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.search-results-container {
  position: relative;
  border: 1px solid #cdcdcd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  width: 700px;
  margin-left: 300px;
}

.search-item a {
  text-decoration: none;
  color: #8f8f8f;
}

input.search-bar {
  border: none;
  width: 500px;
}

.fa-search:before {
  color: #8f8f8f;
  margin: 0 10px;
}

img.result-image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 180px;
}

.search-item {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #cdcdcd;
  color: #8f8f8f;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
  padding: 20px;
  background: white;
  height: 50px;
}

.search-name {
  font-size: 22px;
  margin-left: 20px;
  margin-top: 15px;
}
