.login-signup {
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  height: 75px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
}

.nav-button {
  border-radius: 5px;
  background-color: #16b4b3;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px;
  font-size: 16px;
  width: 100px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}

.app-title {
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  align-items: center;
  margin-left: 10px;
}

.nav-logo img{
  width: 30px;
  height: 30px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
