.user-show-container {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-top: 20px;
  height: 900px;
  max-width: 70vw;
  margin: auto;
}

.tracked-events-list, .tracked-artists-list, .rsvp-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
}


.tracked-events-list li {
  width: 151px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  cursor: pointer;
}

.tracked-artists li {
  border-radius: 80px;
  box-sizing: content-box;
  padding: 0 15px;
  height: 40px;
  border: 1px solid #16b4b3;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  margin-right: 20px;
  background-color: #16b4b3;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 16px;
}
.tracked-artists li:hover {
  background-color: #109291;
  transition: background-color .3s,color .3s;
}

.rsvp-list li{
  width: 151px;
  height: 151px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
  background-color: white;
  cursor: pointer;
}

.rsvp-event {
  width: 151px;
  height: 151px;
}
