.user-show-container {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-top: 25px;
}

.tracked-events-container ul{
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  border: 1px solid black;
  width: 151px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}

.tracked-artists {

}

.rsvp-container li{
  height: 151px;
}
